@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to The Application</h1>
    <p></p>
    <button class="btn-default" onclick="location.href='@Url.Action("UserData", "Home")'">Add Contact</button>
</div>

